
#footer_g{
    background-color: argb(00, rgb(114, 141, 114));
}

body{
    background-color: rgb(177, 171, 171);
    
}

.backQuimicalinfo{
    background-color: white;
    width: 700px;
    border-radius: 10px;
}

